click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
numpy
mmengine==0.7.3

--find-links https://download.openmmlab.com/mmcv/dist/cpu/torch1.12/index.html
mmcv>=2.0.0rc2

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.12.1+cpu
torchvision==0.13.1+cpu

mmdeploy==1.0.0
mmdeploy-runtime==1.0.0
jsonpickle==3.0.1
